%h1 Listing people

= form_tag(people_path, method: :get) do
  
  %table
    %thead
      %tr
        %td{colspan: 9}
          = link_to('Увеличить всем зарплату на 5%',
          add_five_percent_contracts_path, remote: true)
      %tr
        %th{colspan: 5}
          = text_field_tag('name', params['name'])
        %th{colspan: 4}
          = submit_tag('Искать')
      %tr
        %th Last name
        %th First name
        %th Second name
        %th Birthday
        %th Sex
        %th Posts
        %th Salaries
        %th
        %th
        %th
        %th Cheked

    %tbody
      - @people.each do |person|
        %tr
          %td= person.last_name
          %td= person.first_name
          %td= person.second_name
          %td= person.birthday
          %td= person.sex
          %td= person.contracts.map{ |c| c.post.name }.join(', ')
          %td= person.contracts.map{ |c| c.salary }.join(', ')
          %td= link_to 'Show', person
          %td= link_to 'Edit', edit_person_path(person)
          %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= link_to(russify_boolean(person.checked), checked_person_path(person), remote: true, id: "checked#{person.id}")

%br

= link_to 'New Person', new_person_path
